.banner_card_container {
    height: 15vh;
    width: 12vw;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.banner_card_header {
    height: 20% !important;
    border-radius: 9px 9px 0px 0px !important;
    border-bottom: none;
}

.banner_card_body {
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.banner_card_title {
    text-align: center;
    font-size: .8em;
    margin: 0;
}

.banner_card_text {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

.banner_body_text_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}