.banner_card_container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.banner_card_header {
    height: 20% !important;
    border-radius: 9px 9px 0px 0px !important;
    border-bottom: none;
}

.banner_card_body {
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.banner_card_title {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.banner_card_text {
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.banner_body_text_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}