.titlebar {
    height: 46px;
    padding-left: 85px;
    padding-right: 10px;
    display: flex;
    justify-content: start;
    gap: 10px;
    z-index: 1000;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8eaee;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.my_button {
    padding: 0;
    cursor: pointer !important;
}

.drag_container {
    width: 100%;
    height: 100%;
    app-region: drag;
}

.control_button {
    cursor: pointer;
    padding: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8eaee;
    transition: .2s;
    display: flex;
    justify-content: center;
    
}

.control_button:hover {
    background-color: #f5f6fa;
}